* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    display: grid;    
    height: 100%;
    place-content: center;
    background: black;
}

ul li {
    display: inline-flex;
}    

ul li a {
    margin: 0 25px;
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

ul li a:hover {
    transform: rotate(-35deg) skew(20deg);
}

ul li a span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
}

ul li a span .fab {
    font-size: 30px;
    line-height: 55px;
}

ul li:hover a span:nth-child(1) {
    opacity: 0.2;
}

ul li:hover a span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}
ul li:hover a span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}
ul li:hover a span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}
ul li:hover a span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
}

ul li:nth-child(1) a span {
    color: #4267B2;
    border-color: #4267B2;
}

ul li:nth-child(2) a span {
    color: #1DA1F2;
    border-color: #1DA1F2;
}

ul li:nth-child(3) a span {
    color: white;
    border-color: white;
}

ul li:nth-child(4) a span {
    color: #E1306C;
    border-color: #E1306C;
}

ul li:nth-child(5) a span {
    color: #2867B2;
    border-color: #2867B2;
}

ul li:nth-child(6) a span {
    color: #FF0000;
    border-color: #FF0000;
}